<% if current_user.id == params[:id].to_i %>
  <h1> This is your profile, <%= @user.first_name %></h1>
<% else %>
  <h1> This is the profile of <%= @user.first_name %> </h1>
<% end %>

<%= render "shared/friendships", :user => @user %>
