<h1 class="columns is-centered is-size-1 has-text-weight-bold">Recent Posts</h1>

<div>
  <% @posts.each do |post| %>
    <%= render 'shared/post_content', :post => post %>
    <div class="columns is-centered">
      <%= link_to "View this post!", post_path(post) %>
    </div>
  <% end %>
</div>
