// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  margin-right: 10px;
}